@use "../base/typographys";

$font-primary: "Roboto";
$font-second: "Source";

$color-body: #2C3E50;
$color-text: #D3D3D3;
$color-button: #2E4A2E;
$color-bottom: #446983;

$color-black: #1C1515;
$color-white: #ffffff;