@use "../abstracts/variables" as variable;

main {
    .titre {
        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .name {
                letter-spacing: 2rem;
                text-transform: uppercase;
                padding: 2rem 0;
                margin-top: 2rem;
            }

            .training {
                letter-spacing: 1rem;
                width: 80vh;
                text-align: center;
            }
        }
    }

    .profil {
        .cards {
            display: flex;
            justify-content: space-evenly;

            p {
                text-align: center;
            }

            .ghibli {
                width: 30%;
                background-color: variable.$color-bottom;
                border-radius: 0.8rem 0 0.8rem 0;
            }
        }

        .buttons {
            width: 100%;
            margin: 5rem 0 0 19rem;
        }
    }

    .competence {
        .two-card {
            display: flex;
            justify-content: space-around;

            .card {
                .blabla {
                    display: flex;
                    align-items: center;
                }

                .logo {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    text-align: center;
                    gap: 3rem;
                }
            }
        }
    }
}



// Responsive:
// @media screen and (max-width:768px) {}

// ;



// @media screen and (max-width:360px) {}
// ;